#services{
    width: 100%;
    height:100vh;
    padding: $p;
    padding-top: 3rem;
    background-color: $color5;
    color: $color1;

    >h2{
        border-bottom: 1px solid $color4;
        width: fit-content;
        font: 700 2.5rem $text2;
        padding: 0.1rem;
        margin: 0 auto;

    }

    >section{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 3rem;

        >div{
            width: 50%;
            height: 30vh;
            background-color: $color4;
            border-radius: 8px;
            color: $color6;
            border-bottom: 4px solid $color5;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            font: 700 2rem $text2;
            transition: transform 0.3s;


            &:hover{
                transform: scale(1.05);
            }

            >svg{
                font-size: 3rem;
            }
        }
    }



}